<% include ./partials/header.ejs %>

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
</head>
<body>
	<h1>Welcome to Punny<h1>

	<h3>Here is a one-line joke</h3>

</body>
</html>





<% include ./partials/footer.ejs %>

