<% include ./partials/header-nonav.ejs %>


	<main class="container">
		<div class="row">
			<!-- 12 column width -->
        	<div class="col-lg-12">
				<h1>Punny!</h1>
				<h5>Refresh the page for a random joke.</h5>
			</div>
		</div>
		<br>
		<!-- Main Random Joke -->
		<div class="row">
			<!-- 12 column width -->
			<div class="col-lg-12">
				<!-- Sentance / joke renders here-->
				<div id="sentence">
				<!-- Sentance / joke renders here-->
				</div>
			</div>
		</div>
		<!-- ////////// BUTTON SAVE JOKE ////////// -->
		<!-- <div class="row">
			<div class="col-lg-12">
				<button id='saveJoke' class="btn btn-default btn-md">SAVE JOKE</button>
			</div>
		</div> -->






<% include ./partials/footer.ejs %>

