<% include ./partials/header.ejs %>

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>More Jokes</title>
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	<!-- JQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
</head>
<body>
	<main class="container">
		<h1>More Jokes</h1>

		<p>Here is a one-line joke</p>

	</main>
</body>
</html>

<% include ./partials/footer.ejs %>