<% include ./partials/header.ejs %>

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>More Jokes</title>
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
  </head>
</head>
<body>
	<h1>More Jokes<h1>

	<p>Here is a one-line joke</p>
	<p>Here is a one-line joke</p>
	<p>Here is a one-line joke</p>

</body>
</html>

<% include ./partials/footer.ejs %>