<% include ./partials/header.ejs %>


		<h1>More Jokes</h1>
		<br>
		<!-- More Jokes List -->
		<div class="row">
			<!-- 12 column width -->
			<div class="col-lg-12">
				<div id="moreJokes">
				<!-- Joke list renders here-->
				</div>
			</div>
		</div>


<% include ./partials/footer.ejs %>