<% include ./partials/header.ejs %>

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>My Jokes</title>
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	<!-- JQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="./main.js"></script>
</head>
<body>
	<main class="container">
		<div class="row">
			<!-- 12 column width -->
        	<div class="col-lg-12">
				<h2>My Jokes</h2>
			</div>
		</div>
		<br>
		<!-- Main Random Joke -->
		<div class="row">
			<!-- 12 column width -->
			<div class="col-lg-12">
				<ul class="myJokes">
				<!-- joke renders here-->
				<li id="myJokes"></li>
				<!-- <button class="btn-sm">DELETE</button> -->
				</ul>
			</div>
		</div>
	</main>

</body>
</html>


<% include ./partials/footer.ejs %>

